---
layout: default
---


<div class="posts">
  {% for post in site.posts %}
    <article class="post">
      
      <img style="float: right" src="{{ site.baseurl }}{{ post.image }}"/>

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt | truncatewords: 50 }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">اكمل القراءة</a>
    </article>
  {% endfor %}
</div>
