    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">


    <title>إستنماء فكري – فجر الشيوعية</title>
    <meta name="title" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}>">
    <meta name="author" content="{{ site.name }}">
    <meta name="image" content="https://raw.githubusercontent.com/criticalumami/criticalumami.github.io/main/images/15-1_plo_pc_pppa.jpg">

    <meta property="og:type" content="website">
    <meta property="og:url" content="https://criticalumami.github.io/">
    <meta property="og:title" content="{{ site.name }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{page.image}}">

    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://criticalumami.github.io/">
    <meta property="twitter:title" content="{{ site.name }}">
    <meta property="twitter:description" content="{{ site.description }}">
    <meta property="twitter:image" content="{{page.image}}">

    {% if page.excerpt %}
    <meta name="description" content="{{ page.excerpt| strip_html }}">
    <meta property="og:description" content="{{ page.excerpt| strip_html }}">
    <meta property="og:image" content="{{page.image}}">
    {% else %}
    <meta name="description" content="{{ site.description }}">
    <meta property="og:description" content="{{ site.description }}">
    <meta property="og:image" content="{{page.image}}">
    {% endif %}

    {% if page.title %}
    <meta property="og:title" content="{{ page.title }}">
    <meta property="twitter:title" content="{{ page.title }}">
    <meta property="og:image" content="{{page.image}}">
    {% endif %}