---
layout: default

---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    كُتب في {{ page.date | date: "%d/%m/%Y" }}
  </div>

  {% include disqus.html %}
</article>
